<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= page.title || config.title %></title>
<link rel="stylesheet" href="<%= url_for('/css/db-loader.css') %>">
